@{
    ViewBag.Title = "Cadastro realizado com sucesso"; 
	Layout = "~/Views/Shared/_Layout_LoginCadastro.cshtml";
}

<main>
    <section id="cadastro">
        <div class="container">
            <div class="box-principal">
                <center><h1><img src="~/Imagens/SwappLogo.PNG" /></h1></center>
                <p class="text-center cadastro-text mb-30">Cadastro realizado <span class="destaque">com sucesso!</span></p>
               
                <div class="area-suporte">
                    <p class="text-center inicial mb-30">Está com dúvidas? Entre em contato por um <a href="mailto:fake@email.com" target="_top">email</a>.</p>
                </div>
                <center>
                    <div class="botao">
                        <button type="button" id="btnEntrar" name="btnEntrar" class="btn btn-principal">Entrar</button>
                    </div>
                </center>
            </div>
        </div>
    </section>
</main>

<script type="text/javascript">

    $('#btnEntrar').click(function () {
        window.location = "../Login/Login";
    });
</script>