@{
    ViewBag.Title = "Cadastro confirmado com sucesso";    
	Layout = "~/Views/Shared/_Layout_LoginCadastro.cshtml";
}

<main>
    <section id="cadastro">
        <div class="container">
            <div class="box-principal">
                <center><h1><img src="../Content/img/acesso/logo.png" alt="Bcredi"></h1></center>
                <p class="text-center cadastro-text mb-30">Cadastro confirmado <span class="destaque">com sucesso!</span></p>
                <div class="conteudo-texto text-center">
                    <p>Seu cadastro foi efetuado com sucesso. Você já pode começar a usar o site da Bcredi.</p>
                </div>
                <center>
                    <div class="botao">
                        <button type="submit"  class="btn btn-principal btn-amarelo" onclick="window.location.href = '/Login/Login'">Entrar</button>
                    </div>
                </center>
            </div>
        </div>
    </section>
</main>
