@{
    ViewBag.Title = "Login OK Teste";
    Layout = "~/Views/Shared/_Layout_LoginCadastro.cshtml";
}

<div class="col-md-6 col-md-offset-3">

    Login Ok Teste
    <a href="../Login/Login">Fazer login</a>

</div>