<?xml version="1.0" encoding="utf-8"?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

  <connectionStrings>
    <add name="Connection" connectionString="DEV" />
    <add name="DEV" connectionString="Password=onesystem;Persist Security Info=True;User ID=onesystem;Data Source=barsf00019;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
    <add name="PrognumSqlEntities" connectionString="metadata=res://*/ModelsPrognumEDMX.ModelsPrognumEDMX.csdl|res://*/ModelsPrognumEDMX.ModelsPrognumEDMX.ssdl|res://*/ModelsPrognumEDMX.ModelsPrognumEDMX.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=barsf00019;initial catalog=PrognumSql;persist security info=True;user id=onesystem;password=onesystem;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BcrediDB" connectionString="Bcredi" />
    <add name="SecurityDB" connectionString="Bcredi" />

    <add name="ConnectionBcredi" connectionString="DEV_Bcredi" />
    <add name="DEV_Bcredi" connectionString="Password=onesystem;Persist Security Info=True;User ID=onesystem;Initial Catalog=Bcredi;Data Source=barsf00019;MultipleActiveResultSets=true" />
    <add name="DEVOneSystem" connectionString="Password=onesystem;Persist Security Info=True;User ID=onesystem;Initial Catalog=OneSystem;Data Source=barsf00019;MultipleActiveResultSets=true" />
    <add name="HMLOneSystem" connectionString="Password=onesystem;Persist Security Info=True;User ID=onesystem;Initial Catalog=OneSystem;Data Source=barsf00019;MultipleActiveResultSets=true" />
    <add name="PRDOneSystem" connectionString="Password=onesystem;Persist Security Info=True;User ID=onesystem;Initial Catalog=OneSystem;Data Source=barsf00019;MultipleActiveResultSets=true" />
  </connectionStrings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>
